.btn {
  -webkit-font-smoothing: subpixel-antialiased;
  direction: ltr;
  padding: 7px 16px 8px;
  margin: 0;
  font-size: 12.5px;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  text-align: center;
  text-decoration: none;
  background: none;
  background-color: #5181b8;
  color: #fff;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  line-height: 11px;
  padding-left: 3px;
  padding-right: 3px;
  width: 135px;
}
.btn:hover {
  opacity: 0.95;
}
.btn:disabled {
  opacity: 0.5;
}
