.messagesBox {
  /* border: 1px solid black; */
  background: #fff;
  /* grid-area: mainPlace; */
  display: grid;
  grid-template-areas:
    "messagesHeader"
    "messagesContent"
    "messagesSendBox";
}
.header {
  grid-area: messagesHeader;
  border: 1px solid red;
  height: 20px;
}
.content {
  grid-area: messagesContent;
  border: 1px solid purple;
}
.footer {
  grid-area: messagesSendBox;
  border: 1px solid salmon;
  display: flex;
}
