.userBox {
  outline: 1px solid red;
  display: flex;
}
.photo {
  width: 80px;
  height: 80px;
}
.img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}
.pageNumber {
  cursor: pointer;
}
.activePage {
  font-weight: bold;
  font-size: 14pt;
}
.pagesNumbersBox {
  max-width: 800px;
  overflow: auto;
  /* word-wrap: break-word; */
  margin-bottom: 10px;
  outline: 1px solid red;
}
