.mainBox {
  margin: 15px;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue,
    "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee",
    "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian",
    "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao",
    "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai",
    sans-serif;
  direction: ltr;
  text-align: left;
  font-size: 13px;
  line-height: 150%;
}
.mainInfo {
  /* border: 1px solid yellowgreen; */
  width: 100%;
}
.mainInfo .item:not(:last-child) {
  margin-bottom: 5px;
}
.item {
  /* border: 1px solid red; */
  width: 100%;
}
.left {
  /* border: 1px solid black; */
  display: inline-block;
  max-width: 165px;
  min-width: 100px;
  width: 32%;
  color: #828282;
}
.right {
  /* border: 1px solid pink; */
  display: inline-block;
  width: 68%;
  word-wrap: break-word;
  color: #2a5885;
}

.showDetails {
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans,
    Helvetica Neue, "Noto Sans Armenian", "Noto Sans Bengali",
    "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic",
    "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada",
    "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil",
    "Noto Sans Telugu", "Noto Sans Thai", sans-serif;
  direction: ltr;
  text-align: left;
  font-size: 13px;
  color: #2a5885;
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding-left: 165px;
  margin: 10px 0 -5px;
  border-radius: 4px;
  height: 34px;
  line-height: 32px;
}
.showDetails:hover {
  background: #f0f2f5;
}

/* ------------MoreInfo---------------------- */
.itemName {
  display: flex;
  justify-content: space-between;
}
.itemMore {
  display: flex;
  border-top: 1px solid #e7e8ec;
  padding-top: 15px;
}
.itemBox {
  /* margin-top: 15px; */
}
.navlink {
  cursor: pointer;
  text-decoration: none;
  color: #929eb0;
}
.navlink:hover {
  text-decoration: underline;
}
