.profilePhotoBox {
  /* margin: 10px; */
  background: #fff;
  grid-area: photo;
  /* padding: 10px; */
  display: flex;
}
.profilePhoto {
  max-width: 200px;
  margin: auto;
  /* border: 1px solid red; */
  overflow: hidden;
  position: relative;
}
.profilePhoto img {
  max-width: inherit;
}
.profilePhoto img:hover + .uploadMenu {
  height: 50px;
}
.uploadMenu:hover {
  height: 50px;
}
.uploadMenu {
  transition: height 0.2s ease-out;
  height: 0px;
  position: absolute;
  bottom: -15px;
  padding: 5px 0px 0px 10px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans,
    Helvetica Neue, "Noto Sans Armenian", "Noto Sans Bengali",
    "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic",
    "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada",
    "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil",
    "Noto Sans Telugu", "Noto Sans Thai", sans-serif;
  background: rgba(0, 0, 0, 0.712);
  cursor: pointer;
}
