.profilePhotoBox {
  /* margin: 10px; */
  background: #fff;
  grid-area: photo;
  /* padding: 10px; */
  display: flex;
}
.profilePhoto {
  max-width: 200px;
  margin: auto;
}
.profilePhoto img {
  max-width: inherit;
}
