.wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "ls c";

  grid-template-rows: auto 1fr; /*//высота*/
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  color: black;
  max-width: 960px;
  margin: 0px auto;
  /* background: #edeef0; */
}
