/* .dialogsBox {
  display: grid;
  grid-template-areas: "mainPlace dialogsNav";
  grid-template-rows: auto auto;
  grid-template-columns: 8fr 3.5fr;
  grid-gap: 10px;
} */
.dialogsBox {
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-start;
}
.content,
.menu {
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  border-radius: 4px;
  background: #fff;
}
.content {
  width: 70%;
}
.menu {
  width: 30%;
  margin-left: 15px;
}
