.notification {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans,
    Helvetica Neue, "Noto Sans Armenian", "Noto Sans Bengali",
    "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic",
    "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada",
    "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil",
    "Noto Sans Telugu", "Noto Sans Thai", sans-serif;
  color: #000;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  direction: ltr;
  font-size: 13px;
  padding: 7px 18px 9px;
  border: 1px solid #c1c9d9;
  border-radius: 2px;
  padding-left: 50px;
  border-color: #afd4a9;
  background: #effaed
    url("../../../../assets/img/notifications/circleWithTick.svg") no-repeat
    10px center;
  background-size: 30px;
  margin: 15px 15px 20px;
}
.span {
  font-weight: bold;
}
