.itemBox {
  background: #fff;
  display: flex;
  justify-content: space-between;
  grid-area: mainPlace;
  width: 100%;
}
.itemPhoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.itemBox .lastMessagePhoto {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.navlink {
  color: black;
}
