.refContainer {
  margin: 5px 10px;
  /* outline: 1px solid red; */
  display: flex;
  line-height: 20px;
}
.refContainer:hover {
  /* background: black; */
}
.refContainer .profileIcon,
.refContainer .dialogsIcon,
.refContainer .newsIcon {
  /* outline: 1px solid black; */
  width: 35px;
  display: flex;
}
/* .refContainer .profileIcon img,
.refContainer .dialogsIcon img,
.refContainer .newsIcon img {
   outline: 1px solid black;
  width: 20px;
  margin: auto;
}  */
.refContainer .profileIcon {
  background: url("../../../img/menu/profile.jpg") center center no-repeat;
  background-size: 20px 15px;
}
.refContainer .dialogsIcon {
  background: url("../../../img/menu/dialogs.jpg") center center no-repeat;
  background-size: 20px 15px;
}
.refContainer .newsIcon {
  background: url("../../../img/menu/news.jpg") center center no-repeat;
  background-size: 20px 15px;
}
.refContainer a {
  color: #285473;
  display: block;
  text-decoration: none;
  /* padding: 5px 10px; */
  font-family: Arial;
  font-size: 9pt;
  /* outline: 1px solid black; */
  width: 100%;
}
/* .refContainer a.active {
  color: gold;
} */
