.addPostBox {
  background: #fff;
  padding: 5px;
  margin-bottom: 10px;
}
.addPostBtn {
  background: #5b88bd;
  color: #fff;
  padding: 8px 10px;
  width: 150px;
  border-radius: 5px;
  outline: none;
  border: none;
}
