.loginBlock {
  /* border: 1px solid black; */
  background: #fff;
  padding: 25px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
    "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee",
    "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian",
    "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao",
    "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai",
    sans-serif;
}

.loginForm {
  width: 320px;
  margin: 0 auto;
}
.btnLogin {
  -webkit-font-smoothing: subpixel-antialiased;
  direction: ltr;
  padding: 7px 16px 8px;
  margin: 0;
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  vertical-align: top;
  text-align: center;
  background: none;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  background-color: #5b88bd;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  border-radius: 3px;
  width: 100px;
  margin-top: 15px;
}

.mainError {
  border: 1px solid #f2ab99;
  background: #faeaea;
  color: #000;
  font-size: 12px;
  padding: 5px 10px;
  text-align: center;
  margin-top: 15px;
}

/* ----input---- */

.fieldBox {
  /* border: 1px solid red; */
  margin-bottom: 15px;
}

.login,
.password {
  /* border: 1px solid blue; */
  width: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  direction: ltr;
  outline: none;
  box-shadow: none;
  background: #fff;
  -webkit-appearance: none;
  color: #000;
  border: 1px solid #d3d9de;
  height: 35px;
  border-radius: 3px;
  font-size: 14px;
  padding: 6px 12px 8px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}
.error {
  background-color: #faeaea;
}

.errorBox {
  border: 1px solid blue;
}
.errorSpan {
  color: rgb(207, 14, 14);
  font-size: 13px;
  border: 1px solid red;
}
