/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "ls c";

  grid-template-rows: 42px 1fr; /*//высота*/
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
  color: white;
  max-width: 1200px;
  margin: 0px auto;
}
.header {
  grid-area: h;
  /* border: 1px solid red; */
  background: #4a76a8;
  /* height: 42px; /*Убрать высоту */
}
.header a {
  color: white;
  text-decoration: none;
}
.leftSidebar {
  grid-area: ls;
  background: rgb(112, 79, 16);
  /* border: 1px solid black; */
}
.refContainer {
  margin: 5px 10px;
}
.refContainer a {
  color: white;
}
.content {
  grid-area: c;
  background: salmon;
  /* border: 1px solid orange; */
}
.profilePhotoContainer {
  margin: 5px;
}
.profilePhotoContainer img {
  width: 150px;
  height: 150px;
}
