.inputBox {
  display: inline-block;
  width: 100%;
}
.inputBox input {
  width: 0px;
  height: 0px;
  z-index: -1;
}
.btnUpload {
  cursor: pointer;
  display: flex;
  align-items: stretch;
  padding-top: 3px;
}
.btnUpload:hover span,
.btnUpload:hover span + span {
  opacity: 1;
}
.arrow {
  display: inline-block;
  width: 30px;
  background: url("../../../../../assets//img/profilePhoto/arrow.svg") left 0px
    no-repeat;
  background-size: 20px 15px;
  opacity: 0.75;
}
.title {
  margin-left: 2px;
  width: 100%;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans,
    Helvetica Neue, "Noto Sans Armenian", "Noto Sans Bengali",
    "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic",
    "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada",
    "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil",
    "Noto Sans Telugu", "Noto Sans Thai", sans-serif;
  font-size: 12.5px;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  opacity: 0.75;
}
